$mycolor :#28857a;
i{
color: $mycolor;
}
h6{
    color: $mycolor;
}

 div .progress-bar{
    background-color: $mycolor;
 }
   

footer{
    background-color: $mycolor;
    margin-bottom: 0;
    height: 100px;
    
}

 